/*
 * Anmerkung:
 * Man darf nicht das ; am Ende des Befehls vergessen
 * unter jeder CSS-Angabe steht als Kommentar der vorherige / aktuelle Wert, damit ...
 * ... dieser in der Originaldatei gefunden und ersetzt werden kann; er wird vom ...
 * ... Python-Skript automatisch durch den geänderten Wert ersetzt
 */

/*style.css*/

/*Links im Text*/
a{color: #045FB4;}
/* #045FB4*/

/*footer (Copyright genannt)*/
body{background: #1A9BC9;}
/* #1A9BC9*/

/*Seite*/
wrapper{background: #e8feff;}
/* #e8feff*/


/**************************************************************/

/*style-desktop.css*/

/*Navigationsleiste*/
#nav{background: #3c73aa;}
/* #3c73aa*/

/*Links im Nav-Element*/
#nav > ul > li > a,#nav > ul > li > span{color: #6afcf4;}
/* #6afcf4*/

/*Untermenü*/
#nav > ul > li > ul > li{background: #3c73aa;}
/* #3c73aa*/

/**************************************************************/

/*style-mobile.css*/

/*Titelleiste*/
#titleBar{background: #3c73aa;} /*3465a4*/
/* #3c73aa*/

/*ausgeklapptes Menü*/
#navPanel{background: #0c54d2;} /**/
/* #0c54d2*/

/*Links im ausgeklappten Menü*/
#navPanel .link{color: #d3d7cf;}
/* #d3d7cf*/

/*Trennstreifen im ausgeklappten Menü*/
#navPanel .link{border-top: solid 1px #1A9BC9;} 
/* solid 1px #1A9BC9*/


